name: CI

env:
  PROJECT: builder

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master
      - dev

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

  # Run tests for any PRs.
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
      # https://github.com/actions/upload-artifact

      - name: Download cached image file
        uses: actions/upload-artifact@v2
        with:
          name: images-dir
          path: images

      - name: Get version of the image
        run: |
          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Strip "v" prefix from tag name
          # [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          TRAVIS_TAG=VERSION

      - name: Build image
        run: ./build.sh

      - name: Upload cached image file
        uses: actions/upload-artifact@v2
        with:
          name: images-dir
          path: images

  push:

    # https://github.com/marketplace/actions/github-releases
    # https://github.com/marketplace/actions/create-release
    # https://github.com/marketplace?type=actions&query=releases

    # Ensure build job passes before pushing image.
    needs: build

    runs-on: ubuntu-latest
    # if: "${{ github.ref }}" == "refs/tags/"*
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v2

      - name: Dowload builded image file
        uses: actions/upload-artifact@v2
        with:
          name: images-dir
          path: images

      - name: Zip the image
        run: echo "Pass zipping"

      - name: Publish image
        uses: fnkr/github-action-ghr@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GHR_COMPRESS: xz
          GHR_PATH: images/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
